@charset "utf-8";
// Set your brand colors
$gray: #4E4E4E;
$purple: #8B4F8B;
$darkpurple: #322F56;
$base: #F9F9F9;
$darkbase: #F1F3F4;
$basepurple: rgb(240, 227, 240);

// Update Bulma's global variables
$primary: $purple;
$info: $darkpurple;
// Update some of Bulma's component variables
$box-padding: 0.75rem;

// Import all bulma component / element
@import "../node_modules/bulma/bulma.sass";
@import "./assets/fontawesome/scss/fontawesome.scss";
@import "./assets/fontawesome/scss/solid.scss";

// .app-nav {
//     width: 100%;
//     .app-nav-item{
//         display: block;
//         margin: 0 auto
//     }
// }

body {
    background-color: #8B4F8B;
    font-family: 'Product Sans';
}

@media screen and (max-width: 800px){
    .app-nav,
    .app-hero,
    .app-content{
        width: 100% !important;
    }
}

@media screen and (max-width: 435px){
    .app-title{
        width: 0 !important;
        visibility: hidden !important;
    }
    .app-title-sm{
        width: 80px;
        font-size: medium;
        font-weight: 500; 
        &:hover{
            color: $purple !important;  
        }
        visibility: visible !important;
        padding-top: 3px !important;
    }
}

.app-nav-container-top {
    width: 100%;
    transition: top 0.3s;
}

.app-nav-container-bottom {
    width: 100%;
    position: fixed;
    bottom: 0 ;
    left: 0;
}

.app-container {
    width: 100%;
    position: relative;
    padding-bottom: 60px;
}

.app-nav {
    width: 800px;
    background: $base;
    z-index: 100;
    display: block;
    margin-left: auto;
    margin-right: auto;
    // padding-bottom: 3px;
}

.app-hero{
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 80;
}

.app-content {
    width: 800px;
    background: $basepurple;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding : 10px;
    z-index: 70;
}

.app-nav-bottom-item {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 6px;
    color: $gray;
    &:hover{
        border-top: 2px solid $purple;
        background-color: $darkbase;
        color: $purple !important;
    }
}

.app-nav-selected-item {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 6px;
    color: $purple;
    border-top: 2px solid $purple;
    background-color: $darkbase;
}

.app-nav-top-item-right {
    width: 90px;
    float: right;
    padding-top: 6px;
    &:hover{
        color: $purple !important;
    }
}

.app-title{
    padding-left: 10px;
    padding-top: 8px;
    width: 200px;
    font-size: x-large;
    font-weight: 500;
    float: left; 
    &:hover{
        color: $purple !important;  
    }
}

.app-title-sm{
    width: 0;
    visibility: hidden;
    float: left;
}

.app-logo img{
    padding-left: 10px;
    float: left;
    height: 47px;
    padding-top: 3px;
}


@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  src: url("./assets/font/Product\ Sans\ Regular.ttf") format("ttf");
  }

  .service-title{
    vertical-align: middle !important;
    //   display:in;
    width: 55%;
    h5{
        // margin-top: 10px;
        margin-bottom: 0px;
    }
  }

  .service-from{
    // display:inline;
    width: 20%;
    p{
        text-align: right;
    }
  }

  .service-price{
    // display:inline;
    width: 25%;
    background: $purple;
    vertical-align: middle !important;
    h4{
        // margin-top: 10px;
        margin-bottom: 0px;
        color: white;
    }
  }

  
  //background animation

  @keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: fixed;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

